html{font-family:sans-serif;}
body {
  background-color: #EDEFF0;
}
h1 {
  text-align: center;
}
.app {
  margin: 15px;
  display: inline-flex
}
.tvshow {
  position: relative;
  margin-right: 20px;
  display: inline-block;
  padding: 20px;
  background-color: white;

}
.tvshow img {
  width: 150px;
  float: left;
  margin-right: 10px;
}

.show__item {
  min-width: 300px;
	cursor: pointer;
	text-decoration: none;
	margin-top: 0.35em;
  color: #0089ff;
  display: block;
}
.viewed__true {
  color: grey;
}
.viewed__true::after {
  margin-left: 5px;
  content: "✓";
}

.button {
  display: inline-block;
  padding: 7px;
  font-size: 13px;
  cursor: pointer;
  background-color: #e6e6e6;
}
.button:hover {
  background-color: #8EC0F4;
  color: white;
}

.show__del {
  display: none;
  line-height: 8px;
  z-index: 100;
  background-color: #F2594B;
  position: absolute;
  padding: 7px;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.tvshow:hover .show__del {
  display: block;
  background-color: #e6e6e6;
  color: grey;
}
.tvshow:hover .show__del:hover {
  background-color: #F2594B;
  color: white;
}
